<footer>
  <p>
   <%= current_year %><br>
   Created by <%= link_to 'Manziuchka', github_url('Manziuchka', 'test-guru'), target: '_blank' %><br>
   TestGuru - приложение для прохождения тестов. <br>
   <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com/', target: '_blank' %>
  </p>

</footer>